$fondBlock: #11118B;

@mixin para{
    background-color:$fondBlock;
    color: azure;
    padding: 20px;
    padding-left: 60px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex ;
    justify-items: flex-end;
}

@mixin titre{
    margin-top: 50px;
     color: $fondBlock;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin texte{
    color: #272727;
    font-family: Lato;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin-top: 30px;
}

@mixin bouton{
    width: 301px;
    height: 60px;
    background: $fondBlock;
    color: #FFF;
    font-family: Lato;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 30px;
}

@mixin effet{
    color: #ffffff;
    transform: scale(1.1);
    transition: transform 0.2s;
    background-color: #04a5c2;
}

@mixin secti{
    margin: px;
    background: #EEEEFC;
    padding: 50px;
    margin-top: 54px;
    margin-right: 60px;
}

@mixin soutitre{
    color: $fondBlock;
    font-family: Lato;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

@mixin effect{
    transform: scale(1.025);
    transition: transform 0.125s;
}

@mixin blur{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}